<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-danger" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div class="col-6 bg-dark">
      <ul>
        <li *ngFor="let room of getActiveRooms()">
          <a href="#" (click)="selectedRoomName=room">{{room}}</a>
        </li>
      </ul>
    </div>
    <div class="col-6 bg-info">
      <ul>
        <li *ngFor="let item of messages[selectedRoomName]">
          {{item}}
        </li>
      </ul>
    </div>


  </div>
  <div class="fixed-bottom">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Mensagem</span>
    </div>
    <input type="text" [(ngModel)]="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

    <button type="button" (click)="sendMsg()" class="btn btn-primary">Enviar</button>


    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Novo Grupo</span>
    </div>
    <input type="text" [(ngModel)]="roomName" class="form-control" aria-label="Room name input" aria-describedby="inputGroup-sizing-default">

    <button type="button" (click)="connectRoom()" class="btn btn-primary">Conectar</button>
  </div>
</div>

<router-outlet></router-outlet>